.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 24rem;
  margin-bottom: 24rem;
  height: 80rem;
}

a {
  text-decoration: none;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120rem;
}

.project-head {
  font-style: normal;
  font-weight: 800;
  font-size: 5.2rem;
  color: #ffffff;
}

.project-header-left {
  display: flex;
  flex-direction: column;
  height: 14rem;
}

.project-header-right {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  height: 14rem;
  width: 64rem;
}

.custom-button {
  width: 20.2rem;
  height: 6.5rem;
  left: 61rem;
  top: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;

  border: 0.1rem solid rgba(123, 74, 226, 0.5);
  border-radius: 1.8rem;
}

.custom-button-text {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.6rem;
  color: rgba(123, 74, 226, 0.5);
}

.project-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120rem;
}

.p-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 56rem;
  width: 36rem;
  border: 1.10751px solid rgba(123, 74, 226, 0.5);
  border-radius: 1.8rem;
  padding: 2rem;
  transition: 0.2s ease-in-out;
}

.p-card:hover {
  cursor: pointer;
  background: rgba(123, 74, 226, 0.1);
  border: 0.1rem solid rgba(123, 74, 226, 0.5);
  scale: 105%;
}

.p-card-head {
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: left;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 32rem;
}

.project-details {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.bubbles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32rem;
}

.Online {
  border-radius: 0.8rem;
  width: 9rem;
  height: 3.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  background: rgba(74, 226, 144, 0.3);
  color: #4ae290;
}

.Offline {
  border-radius: 0.8rem;
  width: 9rem;
  height: 3.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  background: rgba(226, 147, 74, 0.3);
  color: #e24a4a;
}

.TypeScript {
  border-radius: 0.8rem;
  width: 12rem;
  height: 3.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  background: rgba(123, 74, 226, 0.1);
  color: #7b4ae2;
}

.React {
  border-radius: 0.8rem;
  width: 9rem;
  height: 3.3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  background: rgba(34, 242, 255, 0.1);
  color: #4ae2d0;
}

.project-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33rem;
  height: 22rem;
  background: #5965e0;
  border-radius: 1.2rem;
}

.project-image img {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.p-img-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.p-img-head {
  font-style: normal;
  font-weight: 700;
  font-size: 22.1502px;
  align-items: center;
  color: #ffffff;
}

.p-img-subhead {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #e1e1e6;
}
