@media (max-width: 350rem) {
  html {
    font-size: 72%;
  }
}

@media (max-width: 96rem) {
  body {
    /* border: 10px solid purple; */
  }
  html {
    font-size: 60%;
  }
}

@media (max-width: 76rem) {
  body {
    /* border: 10px solid red; */
  }
  html {
    font-size: 50%;
  }
}

@media (max-width: 66rem) {
  body {
    /* border: 10px solid green; */
  }

  .projects {
    height: 210rem;
  }
  .exp-content {
    flex-direction: column;
    height: 200rem;
  }

  .experience {
    height: 200rem;
  }

  .exp-header {
    margin-bottom: 6rem;
  }

  .src-gallery {
    display: none;
  }

  .rec-cards {
    flex-direction: column;
  }

  .rec-card,
  .rec-head {
    margin-bottom: 10rem;
  }

  .recommendations {
    height: 184rem;
  }

  .about-content {
    flex-direction: column;
    height: 90rem;
    margin-bottom: 0;
  }

  .project-header {
    flex-direction: column;
    height: 24rem;
    margin-bottom: 12rem;
  }

  .project-cards {
    flex-direction: column;
  }

  .project-cards a {
    height: 60rem;
  }

  .contact img {
    width: 40rem;
  }

  .contact a {
    font-size: 2rem;
  }

  .contact span {
    font-size: 1.5rem;
  }
}
